<%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
  <div class="field">
    <%= f.text_field :content, placeholder: "New Todo" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
